<aside
  id="default-sidebar"
  class="z-40 w-64 transition-transform hidden lg:block min-w-64"
  aria-label="Sidebar"
>
  <div
    class="fixed left-0 right-0 lg:static h-full px-3 py-4 overflow-y-auto bg-slate-100 border-r-2 border-gray-300"
  >
    <ul class="space-y-2 font-medium">
      <li>
        <a
          href="/"
          class="flex items-center p-2 text-gray-700 rounded-lg hover:text-gray-900 hover:bg-slate-200 group"
        >
          <img
            src="/images/icons/home-icon.svg"
            alt="Home Icon"
            class="w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"
          />
          <span class="ms-3">Home</span>
        </a>
      </li>
      <li>
        <a
          href="/clubs/owned"
          class="flex items-center p-2 text-gray-700 rounded-lg hover:text-gray-900 hover:bg-slate-200 group"
        >
          <img
            src="/images/icons/my-clubs-icon.svg"
            alt="My Clubs Icon"
            class="w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"
          />
          <span class="ms-3">My Clubs</span>
        </a>
      </li>
      <li>
        <a
          href="/clubs"
          class="flex items-center p-2 text-gray-700 rounded-lg hover:text-gray-900 hover:bg-slate-200 group"
        >
          <img
            src="/images/icons/joined-clubs-icon.svg"
            alt="Joined Clubs Icon"
            class="w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"
          />
          <span class="ms-3">Joined Clubs</span>
        </a>
      </li>
      <li>
        <a
          href="/admin/manage-users"
          class="flex items-center p-2 text-gray-700 rounded-lg hover:text-gray-900 hover:bg-slate-200 group"
        >
          <img
            src="/images/icons/manage-users.svg"
            alt="Logout Icon"
            class="w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"
          />
          <span class="ms-3">Manage Users</span>
        </a>
      </li>
      <li>
        <a
          href="/admin/manage-clubs"
          class="flex items-center p-2 text-gray-700 rounded-lg hover:text-gray-900 hover:bg-slate-200 group"
        >
          <img
            src="/images/icons/manage-clubs.svg"
            alt="Logout Icon"
            class="w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"
          />
          <span class="ms-3">Manage Clubs</span>
        </a>
      </li>
      <li>
        <a
          href="/logout"
          class="flex items-center p-2 text-gray-700 rounded-lg hover:text-gray-900 hover:bg-slate-200 group"
        >
          <img
            src="/images/icons/logout-icon.svg"
            alt="Logout Icon"
            class="w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"
          />
          <span class="ms-3">Log Out</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
