<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/output.css" />
    <title>Document</title>
  </head>
  <body>
    <div
      class="bg-index-background bg-no-repeat bg-cover min-h-[100vh] flex flex-col items-center justify-center"
    >
      <div class="sm:w-[72ch] text-center flex flex-col gap-3">
        <h1
          class="sm:text-3xl text-2xl text-slate-800 font-bold animate-slide-bottom pl-1 pr-1 sm:border-b-2 pb-4"
        >
          Welcome to clubhouse where you can create clubs and connect with other
          people
        </h1>
        <div class="flex gap-1 justify-center">
          <p>
            <a
              href="/signup"
              class="text-blue-600 text-xl opacity-70 hover:opacity-100 font-semibold pr-2"
              >Get started</a
            >
          </p>
          <p>
            <a
              href="/login"
              class="text-blue-600 text-xl opacity-70 hover:opacity-100 font-semibold border-l-2 pl-2"
              >Login</a
            >
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
